.section1 {
    border: 1.5px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 80%;

}
.soldTv {
    display: flex;
    border: 1px solid green;
}
.stockTv {
    display: flex;
    border: 1px solid lightblue;
}
.toSellTv {
    display: flex;
    border: 1px solid mediumpurple;
}
