* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*================= section1 ====================*/

.section1 {
    display: flex;
    flex-direction: row;
    flex-basis: 50px;
    height: 40vh;
    width: 120%;
    gap: 6%;
    margin-top: 30px;
    margin-left: 7.5%;
}

.soldTv {
    border: 2px solid green;
    border-radius: 5px;
    background-color: rgba(0, 255, 0, 0.1);
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    flex-basis: 20%;
    width: 80%;

}
.stockTv {
    border: 2px solid green;
    border-radius: 5px;
    display: flex;
    background-color: rgba(0, 0, 225, 0.2);
    flex-flow: column wrap;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    flex-basis: 20%;
    width: 80%;
    padding: 10px;

}
.toSellTv {
    border: 2px solid green;
    border-radius: 5px;
    display: flex;
    background-color: rgba(160, 32,240, 0.3);
    flex-flow: column wrap;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    flex-basis: 20%;
    width: 80%;
    
}
img {
    height: 30%;
    width: 20vw;
}
.img-1{
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 1;
}

/*================= section2 ====================*/

